*{
  box-sizing: border-box;
}
/* Start of NAVIGATION BAR */
.navbar {
  background-color: transparent; 
  /* background-color: #222222 */
}

.brand-logo {
  padding-left: 30px;
  padding-top: 10px;
  width: 15%;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 26px 26px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 26px 26px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: #cd9b6b;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #222222; */
  background-color: transparent;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content a {
  font-family: inherit;
  font-size: 14px;
  float: none;
  color: white;
  padding: 16px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  /* background-color: #111111; */
  background-color: transparent;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* End of NAVIGATION BAR */


/* Start of PARALLAX */
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Poppins";
}

body {
  background: #1b1b1b;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  text-align: center;
  font-family: 'Poppins';
  font-size: xx-large;
  font-weight: bolder;
  color: white;
}

header h1 {
  margin: 0;
  font-size: larger;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header,
header:before {
  background: 50% 50% / cover;
}

header::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(/images/feedback.png);
  background-size:100% 100%;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 30vh;
}

.content {
  z-index: 2;
  position: auto;
  text-align: center;
  bottom: 5px ;
  width: auto;
  background: black;
  font-family: 'Poppins';
  padding: 42px;
  color: white;
}
.rev-section{
  margin: auto;
  padding: 0 1rem;
  max-width: 1100px;
  text-align: center;
}

.title{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: .5rem;
}
.note{
  font-size: 1.1rem;
  color: rgb(150, 150, 150);
  font-style: italic;
  margin-top: 20px;
  color: gray;
}

.reviews{
  margin: 2rem;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.review{
  margin: 30px 1rem;
  min-width: 250px;
  flex: 1;
}

.head-review{
  margin: auto;
  margin-bottom: -10px;
  width: 150px;
  height: 150px;
}
img{
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.body-review{
  padding: 15px;
  border: 1px solid #cd9b6b;
  height: 250px;
}
.body-review:hover{
box-shadow: 1px 1px 3px 2px #cd9b6b;
}
.name-review{
  font-size: 1.5rem;
  color:white;
  margin-bottom: .25rem;
}
.place-review{
  color:#cd9b6b;
  font-style: italic;
}
.rating{
  color: rgb(253, 180, 42);
  margin: 1rem 0;
}
.desc-review{
  line-height: 1.5rem;
  color: rgb(150, 150, 150);
}

@media (max-width: 678px){
  .review{
    margin-top: .5rem;
  }
}



/* End of PARALLAX */


/* Start of FOOTER */
a {
  text-decoration: none;
}

.footer_company {
  padding-bottom: -4px;
  text-align: center;
  font-family: 'Poppins';
  color: white;
}

.footer_company h3 {
  font-size: x-large;
  font-weight: 480;
}

/* Social Media Buttons */
.main-footer {
  position: bottom;
  padding-bottom: 9px;
  padding-top:-10px ;
  box-sizing: border-box;
  font-family: 'Poppins';
}
.sub-footer {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #1b1b1b;
}
.wrapper .button{
  color: white;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 10px;
  overflow: hidden;
  background: black;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #b1855b;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #b1855b;
}

.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #fff;
}
.wrapper .button:nth-child(2) span{
  color: #fff;
}
/* End of FOOTER */
  
